:root {
    --r-link-color: #25ba92;
    --r-background-color: rgb(18, 18, 18);
    --r-heading-color: rgba(255, 255, 255, 0.97);
    --r-main-color: rgba(255, 255, 255, 0.87);
}

.reveal strong, .reveal b {
    color: var(--r-link-color);
}

.reveal-viewport {
    background-image: url(./lucas-alexander-njaQKSM365I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reveal-viewport::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(18, 18, 18, 0.85);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.reveal-viewport.color-1::before {
    background-color: rgba(107, 18, 18, 0.85);
}

.reveal-viewport.color-2::before {
    background-color: rgba(17, 98, 104, 0.85);
}

.reveal-viewport.color-3::before {
    background-color: rgba(47, 96, 19, 0.85);
}

.reveal-viewport.color-4::before {
    background-color: rgba(25, 16, 96, 0.85);
}

.colored-wrapper {
    margin: 0 auto;
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 0 20px;
}

.colored {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fragment {
    position: absolute;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-size: 70%;
}

.ego-zenika {
    top: 30rem;
    left: 3rem;
}

.ego-amf {
    top: 8rem;
    left: 1rem;
}

.ego-devin {    
    top: 2rem;
    left: 2rem;
}

.ego-panoch {
    top: 3rem;
    left: 3rem;
}

.ego-gnus {
    top: 8rem;
    left: 0;
}

.ego-streameur {
    top: 5rem;
    left: 50rem;
}

.ego-moatv {
    top: 6rem;
    left: 6rem;
}

.ego-muzik {
    top: 20rem;
    left: 7rem;
}

.ego-maker {
    top: 8rem;
    left: 8rem;
}

.ego-webtv {
    top: 9rem;
    left: 9rem;
}

.ego-politik {
    top: 30rem;
    left: 40rem;
}

.green {
    color: greenyellow;
}

.red {
    color: red;
}

.reveal .slides section .fragment.fade-in-then-semi-out.visible {
    opacity: 0.1;
}

.reveal .slides section .fragment.fade-in-then-semi-out.current-fragment {
    opacity: 1;
}

.color-2 .red {
    background-color: rgb(18, 18, 18, 0.45);
    border-radius: 1rem;
}